@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-color: #eeeeff;
}
body:before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background-color: var(--color);
  opacity: 0.1;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #84ddae 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: load 1s infinite linear;
}
@keyframes load {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
.item-head:before {
  content: "";
  background-color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 1.5rem;
  opacity: 1;
  transform: rotate(-10deg);
  transition: transform 0.5s ease;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-head {
  flex: 0 0 250px;
  position: relative;
  width: 250px;
  height: 250px;
}
.item:hover .item-head:before {
  transform: rotate(10deg);
}
.item-head img {
  width: 250px;
  min-width: 250px;
  border-radius: 1.5rem;
  aspect-ratio: 1/1;
  box-shadow: 0 0 40px -20px #000;
  background-color: var(--color);
}
.item:hover .item-body > * {
  transform: translateY(0);
  opacity: 1;
}
.item-body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
  z-index: 1;
}
.item-body i {
  width: 1.875rem;
}
.item-body > * {
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.5s ease-in-out;
}
.item-body h3 {
  position: absolute;
  top: -5.75rem;
  left: 1rem;
  margin: 0;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transform: translateY(0%);
  text-shadow: 0 2px 5px #00000060;
}

.item-body p {
  margin: 0;
  color: currentColor;
  font-size: 0.875rem;
}

.item-body a {
  color: currentColor;
  text-decoration: none;
  font-size: 0.875rem;
}
#wrap a:hover {
  color: var(--color);
}
