@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-color: #eeeeff;
}
body:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background: radial-gradient(
    circle,
    var(--color),
    200px,
    rgba(255, 255, 255, 0.8)
  );
  opacity: 1;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #84ddae 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: load 1s infinite linear;
}
@keyframes load {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
.item-head:before {
  content: "";
  background-color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 2.5rem;
  opacity: 1;
  transform: rotate(-8deg);
  transition: transform 0.5s ease;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  border-radius: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 30px -20px #313131;
  border: 1px solid var(--color);
}
.item-head {
  position: relative;
}
.item:hover .item-head:before {
  transform: rotate(8deg);
}
.item-head img {
  width: 200px;
  min-width: 200px;
  margin: auto;
  border-radius: 2.5rem;
  aspect-ratio: 1/1;
  box-shadow: 0 0 40px -20px #000;
  position: relative;
  z-index: 2;
  background-color: var(--color);
}
.item:hover .item-body > * {
  transform: translateY(0);
  opacity: 1;
}
.item-body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
  z-index: 1;
}
.item-body i {
  width: 1.875rem;
}

.item-body h3 {
  margin: 0;
  font-size: 1.875rem;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color);
  opacity: 1;
  text-shadow: 1px 1px 15px rgba(68, 68, 68, 0.25);
}

.item-body p {
  margin: 0;
  color: currentColor;
  font-size: 1rem;
}

.item-body a {
  color: currentColor;
  text-decoration: none;
  font-size: 1rem;
}
.item-body a:hover {
  color: var(--color);
}
